# ====================================================================
# 1. Python 编译及缓存产物（必须忽略）
# ====================================================================
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
micromamba/
.conda/

# ====================================================================
# 2. 深度学习模型权重文件与数据集（防止大文件拖垮 Git 仓库）
# ====================================================================
# 如果你的 weights/ 文件夹下有自定义训练的专属权重，不希望传到网上，可以取消下面这行的注释
# weights/
*.pt
*.onnx
*.tflite
runs/
.msc/

# ====================================================================
# 3. 操作系统及编辑器临时缓存
# ====================================================================
.vscode/
.idea/
*.swp
*.bak
.DS_Store
Thumbs.db